.task {
  color: #e90e45;
  font-weight: bold;
}

li {
  margin-top: 8px;
}

button {
  margin-left: 8px;
}

.heading {
  font-size: x-large;
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
}
