* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
}

#capture,
#recording {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  outline: none;
  border: none;
  position: fixed;
  background-color: black;
  border: 5px solid white;
  z-index: 2;
}
#recording {
  top: 30vh;
  right: 20px;
}
#capture {
  top: 45vh;
  right: 20px;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* bcz video gives extra padding and scrollbar*/
#video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* using object fit property */
video {
  object-fit: cover;
  width: 100cw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.filter-container {
  margin-top: 18vh;
  width: 6rem;
  height: 60vh;
  border: 1px solid white;
  position: fixed;
  top: -1.5vh;
  left: 0;
  z-index: 2;
}

.filter {
  height: calc(100% / 6);
  width: 100%;
  background: red;
  background-image: url("i.jpg");
  background-size: cover;
}

#recording div {
  height: 60%;
  width: 68%;
  margin: auto;
  border-radius: 50%;
  background-color: red;
}
#capture div {
  height: 60%;
  width: 68%;
  margin: auto;
  border-radius: 50%;
  background-color: white;
}

.recording-animation {
  animation: zoom-in-out 0.8s infinite;
}
.capture-animation {
  animation: zoom-in-out 1s;
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.filter-div {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}
